[submodule ".powerlevel10k"]
	path = .powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh.d/zsh-autosuggestions"]
	path = .zsh.d/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
